/*GLOBAL*/
body {
	font-size: 20px;
	color: black;
	font-family: 'Glory', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 1px;
}
h1 {
	background-color: lavender;
}
h2 {
	background-color: lavenderblush;
}
/*NAVIGATION*/
header li {
	text-transform: uppercase;
}
/*TYPOGRAPHY*/
blockquote {
	font-family: 'Yomogi', cursive;
	font-weight: 400;
}
span {
	font-weight: 700;
}
/*FOOTER*/
footer {
	color: gray;
}
/*HELPER CLASSES*/
.section-1 .hydro blockquote {
	color: blue;
}
.section-1 .pyro blockquote {
	color: red;
}
.section-1 img {
	width: 25%;
	height: auto;
}
.section-2 img {
	width: 50%;
	height: auto;
}
.section-3 img {
	width: 15%;
	height: auto;
}
.section-4 img {
	width: 30%;
	height: auto;
}
aside img {
	width: 2.5%;
	height: auto;
}
.copyright {
	color: black;
}